# Notes:
<strong>- In this file, we select two Excel files that have the most common fields and are ideal for merging, as they are more likely to contain similar information. Extensive cleaning is applied to all fields to remove inconsistencies, including text fields, dates, etc.

<strong>- ID fields such as '#', '# 1', and 'Number' are not useful for connecting records across different files, so they can be removed. A unique ID can be created for each record at the end.

<strong>- Before applying the algorithm to remove inconsistencies in a field, we need to check its type (e.g., date, signed numbers). The expression "re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()" does not work for 'date' fields or values like '3.2' and '-3.2'.

# Check the merging part of the procedure on small dataframes to make sure it works

In [52]:
d1 = pd.DataFrame({'c1': [5,6,7,4,9], 'c2': [1,2,7,5,5], 'c3': ['a','b','v','t','t']})

In [53]:
d1

   c1  c2 c3
0   5   1  a
1   6   2  b
2   7   7  v
3   4   5  t
4   9   5  t

In [54]:
d2 = pd.DataFrame({'c2': [1,2, 2,3,5,66, 66], 'c3': ['a','b','b','v','t','yy','yy'], 'c4': [1.2,99,1.6,4.3,6.4,87.8, 100]})

In [55]:
d2

   c2  c3     c4
0   1   a    1.2
1   2   b   99.0
2   2   b    1.6
3   3   v    4.3
4   5   t    6.4
5  66  yy   87.8
6  66  yy  100.0

In [21]:
d2[['c2', 'c3']]

   c2  c3
0   1   a
1   2   b
2   2   b
3   3   v
4   5   t
5  66  yy
6  66  yy

In [56]:
d1[['c2', 'c3']].merge(d2[['c2', 'c3']], how='outer', on=['c2', 'c3'])

   c2  c3
0   1   a
1   2   b
2   2   b
3   7   v
4   5   t
5   5   t
6   3   v
7  66  yy
8  66  yy

In [23]:
d1[['c2', 'c3']].merge(d2[['c2', 'c3']], how='left', on=['c2', 'c3'])

   c2 c3
0   1  a
1   2  b
2   2  b
3   7  v
4   5  t
5   5  t

In [24]:
a = d1[['c2', 'c3']].merge(d2[['c2', 'c3']], how='outer', on=['c2', 'c3'])
a[~a.duplicated()]

   c2  c3
0   1   a
1   2   b
3   7   v
4   5   t
6   3   v
7  66  yy

In [59]:
d1.merge(d2, how='outer', on=['c2', 'c3'])[['c2', 'c3']]

   c2  c3
0   1   a
1   2   b
2   2   b
3   7   v
4   5   t
5   5   t
6   3   v
7  66  yy
8  66  yy

In [27]:
d1[~d1[['c2', 'c3']].duplicated()].shape

(4, 3)

In [28]:
d1.shape

(5, 3)

In [29]:
d2[~d2[['c2', 'c3']].duplicated()].shape

(5, 3)

In [ ]:
d2.shape

In [ ]:
d4 = pd.DataFrame(columns=['c2', 'c3'])

In [ ]:
d4.head()

In [ ]:
d1[['c2', 'c3']]

In [ ]:
d4 = pd.concat([d4, d1[['c2', 'c3']]])

In [ ]:
d4

In [ ]:
d4 = pd.concat([d4, d2[['c2', 'c3']]])

In [ ]:
d4

In [ ]:
d4[~d4.duplicated()]

In [ ]:
d3 = pd.DataFrame(columns=['c1', 'c2', 'c3', 'c4'])

In [ ]:
d3.head()

In [ ]:
d3 = pd.concat([d3, d1])

In [ ]:
d3

In [ ]:
d3 = pd.concat([d3, d2])

In [ ]:
d3

In [ ]:
d3[~d3.duplicated()]

# Helper function to convert different date formats to a consistent format.

In [1]:
def date_convertor(d):
    if d in [None, np.nan, 'NA/NA']:
        return d
    _ = re.sub(r'[^0-9/: -]+', '', str(d)).strip()
    try:
        _ = datetime.strptime(_, "%m/%d/%y")
    except:
        try:
            _ = datetime.strptime(_, "%m/%d/%Y")
        except:
            try:
                _ = datetime.strptime(_, '%Y-%m-%d %H:%M:%S')
            except:
                try:
                    _ = datetime.strptime(_, '%m/%Y')
                except:
                    print(f"couldn't convert {d}")
                    return np.nan
    new = _.strftime("%m/%d/%Y")
    return new

# Firstly, fix the inconsistencies in all columns in both files and then merge them. Fixing needs to be done based on achieved dictionaries from the initial merge.

In [2]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from collections import Counter
from datetime import datetime

In [3]:
pre = {}

In [4]:
# set the max columns to none in order to show all columns of dataframe
pd.set_option('display.max_columns', None)

In [5]:
file_names = ['00a_All drugs sorted alphabatically by their developers_1980-2016_cleaned_2.xlsx',
             '01c_Survival-terminated-Projects&Compounds_cleaned_2.xlsx',
             '04_All Recap clinical trials 1980-2016_cleaned_2.xlsx',
             'All drug projects Data_cleaned_2.xlsx',
             'All drug-alliance data_cleaned_2.xlsx',
             'All drugs sorted alphabatically by their developers_1980-2016_cleaned_2.xlsx',
             'List of marketed drugs_sales data required_cleaned_2.xlsx',
             'STG_TMNT_MKT_cleaned -Combined_cleaned_2.xlsx', 
             'US_Patents_June_2021_Updated_cleaned_2.xlsx']

In [6]:
df_All = pd.read_excel('All drug-alliance data_cleaned_2.xlsx')
# df_required = pd.read_excel('List of marketed drugs_sales data required_cleaned_2.xlsx')
df_Combined = pd.read_excel('STG_TMNT_MKT_cleaned -Combined_cleaned_2.xlsx')

In [7]:
df_All = df_All[~df_All.duplicated()]
df_Combined = df_Combined[~df_Combined.duplicated()]

In [8]:
df_All.shape, df_Combined.shape

((8927, 30), (8910, 29))

In [9]:
df_All.columns

Index(['#', 'Alliance', 'P1', 'P2', 'P Type', 'Date', 'Type', 'stage',
       'Developer', 'Firm code', 'Trade Name', 'Generic Name',
       'Product Identifier(s)', 'Current Status', 'Total Development',
       'Active Development Partner(s)', 'Former Developer(s)',
       'Therapeutic Area', 'Technology', 'Mechanism of Action',
       'Molecular Target', 'Target Action', 'Compound Origin', 'IND Date',
       'Project Start Date', 'error', 'indicator', 'pdfname', 'File Name',
       'Reason for Termination'],
      dtype='object')

In [10]:
df_Combined.columns

Index(['# 1', '# 2', 'Alliance', 'P1', 'P2', 'P Type', 'Date', 'Type', 'stage',
       'Developer', 'Firm code', 'Disease Indication', 'Trade Name',
       'Generic Name', 'Product Identifier(s)', 'Current Status', 'IND Date',
       'Project Start Date', 'Active Development Partner(s)',
       'Former Developer(s)', 'Therapeutic Area', 'Technology',
       'Mechanism of Action', 'Molecular Target', 'Target Action',
       'Compound Origin', 'pdfname', 'Total Development',
       'Reason for Termination'],
      dtype='object')

In [11]:
df_All = df_All.drop(['#'], axis=1)

In [12]:
df_Combined = df_Combined.drop(['# 1'], axis=1)

In [13]:
df_Combined = df_Combined.drop(['pdfname'], axis=1)

In [14]:
df_All = df_All.drop(['pdfname'], axis=1)

In [15]:
df_All = df_All[~df_All.duplicated()]
df_Combined = df_Combined[~df_Combined.duplicated()]

In [16]:
df_All.shape, df_Combined.shape

((8497, 28), (8910, 27))

In [17]:
common_cols = [c for c in list(df_All.columns) if c in list(df_Combined.columns)]

In [18]:
len(common_cols)

25

In [19]:
df_All_only_cols = [c for c in list(df_All.columns) if c not in list(df_Combined.columns)]

In [20]:
df_All[df_All_only_cols].head()

  error indicator File Name
0     s       NaN    stages
1     *       NaN    stages
2     s       NaN    stages
3     *       NaN    stages
4     s       NaN    stages

In [21]:
df_Combined_only_cols = [c for c in list(df_Combined.columns) if c not in list(df_All.columns)]

In [22]:
df_Combined[df_Combined_only_cols].head()

         # 2 Disease Indication
0  TMNT 3589  colorectal cancer
1  TMNT 3590  colorectal cancer
2  TMNT 3591  colorectal cancer
3    STG 167             cancer
4    STG 168       solid tumors

In [23]:
temp_c_c= common_cols

In [24]:
df_All_temp = df_All[~df_All[temp_c_c].duplicated()][temp_c_c]

In [25]:
df_Combined_temp = df_Combined[~df_Combined[temp_c_c].duplicated()][temp_c_c]

In [26]:
df_All_temp.shape, df_Combined_temp.shape

((8496, 25), (8496, 25))

In [27]:
df_resutl_temp = df_All_temp.merge(df_Combined_temp, how='outer', on=temp_c_c)

In [28]:
df_resutl_temp.shape

(9526, 25)

In [95]:
# df_resutl_temp[~df_resutl_temp.duplicated()].shape

(11683, 26)

# How to remove inconsistencies in two files before merging them:

1. Create a dictionary for the inconsistencies in each **common** column. This dictionary should be built based on an initial merge, i.e., merging only the common columns.
    - Identify repeated values in each column.
    - Check the type of each field and exclude 'Date' and 'Signed numbers' fields.

2. Create a dictionary for the inconsistencies in each **file-specific** column in both files.
    - Identify repeated values in each column.
    - Check the type of each field and exclude 'Date' and 'Signed numbers' fields.

3. The dictionary should now include all fields except those that did not pass the checks above. Use this dictionary to fix inconsistencies in both files.

4. Apply functions to clean 'Date' columns and 'Signed numbers' columns separately.

5. Merge the two cleaned files.

In [29]:
df_resutl_temp.columns

Index(['Alliance', 'P1', 'P2', 'P Type', 'Date', 'Type', 'stage', 'Developer',
       'Firm code', 'Trade Name', 'Generic Name', 'Product Identifier(s)',
       'Current Status', 'Total Development', 'Active Development Partner(s)',
       'Former Developer(s)', 'Therapeutic Area', 'Technology',
       'Mechanism of Action', 'Molecular Target', 'Target Action',
       'Compound Origin', 'IND Date', 'Project Start Date',
       'Reason for Termination'],
      dtype='object')

In [30]:
pre = {}
# Create a dictionary for the inconsistencies in each common column. Dictionaries needs to be 
# built based on the initial merge i.e. the merge of only common columns.

# the below list includs the 'date', 'singed numbers', etc.
unfixable_cols = ['Date', 'Current Status', 'Total Development', 'IND Date', 'Project Start Date']
for col in list(df_resutl_temp.columns):
    if col in unfixable_cols:
        print(col)
        continue
    pre[col] = {}
    pre[col]['values'] = list(df_resutl_temp.sort_values(['Product Identifier(s)'])[col])
    pre[col]['uniques'] = [str(c) for c in list(set(pre[col]['values']))]
    pre[col]['cleans'] = [re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre[col]['uniques']]
#     Counter([pre[col]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) for c in pre[col]['uniques']])
    # 'L,O,S' and 'Lo,S' in the "Type" field are not the same.
    pre[col]['repeated'] = sorted([c for c in pre[col]['uniques'] \
                                 if (pre[col]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) > 1
                                    and re.sub(r'[^a-zA-Z0-9]+', '', c).lower() != 'los' )])
    pre[col]['dic'] = {k:[] for k in set([re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre[col]['repeated']])}
    
    for item in pre[col]['uniques']: 
        if re.sub(r'[^a-zA-Z0-9]+', '', item).lower() in pre[col]['dic'].keys(): 
            pre[col]['dic'][re.sub(r'[^a-zA-Z0-9]+', '', item).lower()].append(item)
    
    for i in pre[col]['dic'].keys(): 
        pre[col]['dic'][i] = pre[col]['dic'][i][0]
    
    # apply the line below for each column in both files.
    df_resutl_temp[col] = df_resutl_temp[col].apply(
        lambda x: pre[col]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

Date
Current Status
Total Development
IND Date
Project Start Date

In [31]:
for col in ['Date', 'IND Date', 'Project Start Date']:
    index = df_resutl_temp.columns.get_loc(col)
    print(index, col)
    df_resutl_temp.iloc[:, index] = df_resutl_temp.iloc[:, index].apply(date_convertor)

4 Date
couldn't convert 1 Proje
couldn't convert 34425
couldn't convert 1 Proje
22 IND Date
23 Project Start Date

In [32]:
df_resutl_temp.shape

(9526, 25)

In [33]:
df_resutl_temp[~df_resutl_temp.duplicated()].shape

(8624, 25)

In [34]:
# Complete the previous dictionary for the inconsistencies in each file's specific columns.

# the below list includs the 'date', 'singed numbers', etc.
unfixable_cols = []
for col in list(df_Combined[df_Combined_only_cols].columns):
    if col in unfixable_cols:
        print(col)
        continue
    pre[col] = {}
    pre[col]['values'] = list(df_Combined.sort_values(['Product Identifier(s)'])[col])
    pre[col]['uniques'] = [str(c) for c in list(set(pre[col]['values']))]
    pre[col]['cleans'] = [re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre[col]['uniques']]
#     Counter([pre[col]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) for c in pre[col]['uniques']])
    # 'L,O,S' and 'Lo,S' in the "Type" field are not the same.
    pre[col]['repeated'] = sorted([c for c in pre[col]['uniques'] \
                                 if (pre[col]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) > 1
                                    and re.sub(r'[^a-zA-Z0-9]+', '', c).lower() != 'los' )])
    pre[col]['dic'] = {k:[] for k in set([re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre[col]['repeated']])}
    
    for item in pre[col]['uniques']: 
        if re.sub(r'[^a-zA-Z0-9]+', '', item).lower() in pre[col]['dic'].keys(): 
            pre[col]['dic'][re.sub(r'[^a-zA-Z0-9]+', '', item).lower()].append(item)
    
    for i in pre[col]['dic'].keys(): 
        pre[col]['dic'][i] = pre[col]['dic'][i][0]
    
    # apply the line below for each column in both files.
    df_Combined[col] = df_Combined[col].apply(
        lambda x: pre[col]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

In [35]:
len(pre.keys())

22

In [36]:
pre.keys()

dict_keys(['Alliance', 'P1', 'P2', 'P Type', 'Type', 'stage', 'Developer', 'Firm code', 'Trade Name', 'Generic Name', 'Product Identifier(s)', 'Active Development Partner(s)', 'Former Developer(s)', 'Therapeutic Area', 'Technology', 'Mechanism of Action', 'Molecular Target', 'Target Action', 'Compound Origin', 'Reason for Termination', '# 2', 'Disease Indication'])

In [37]:
len(pre.keys())

22

In [38]:
pre.keys()

dict_keys(['Alliance', 'P1', 'P2', 'P Type', 'Type', 'stage', 'Developer', 'Firm code', 'Trade Name', 'Generic Name', 'Product Identifier(s)', 'Active Development Partner(s)', 'Former Developer(s)', 'Therapeutic Area', 'Technology', 'Mechanism of Action', 'Molecular Target', 'Target Action', 'Compound Origin', 'Reason for Termination', '# 2', 'Disease Indication'])

# Check each field to see if should be added to the dictionary or not.

In [438]:
# temp_c_c= common_cols
# temp_c_c= df_All_only_cols
temp_c_c= df_Combined_only_cols

In [ ]:
# 'Date' is date, 
# 'Current Status' is ['Phase I/II', 'Phase III']
# 'Total Development' is ['-0.4', '-2.9', '-3.7', '-4.9', '-6.9', '0.4', '2.9', '3.7', '4.9', '6.9']
# 'IND Date' is date,
# 'Project Start Date' is date,
index = 2
temp_c_c[index]

In [452]:
# values = list(df_resutl_temp.sort_values(['Product Identifier(s)'])[temp_c_c[index]])
#values = list(df_All.sort_values(['Product Identifier(s)'])[temp_c_c[index]])
values = list(df_Combined.sort_values(['Product Identifier(s)'])[temp_c_c[index]])

In [453]:
values[0]

'bronchospasm'

In [454]:
len(values)

8910

In [455]:
uniques = [str(c) for c in list(set(values))]

In [456]:
len(uniques)

946

In [457]:
cleans = [re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in uniques]

In [458]:
len(list(set(cleans)))

911

In [459]:
repeated = sorted([c for c in uniques if (cleans.count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) > 1
                                         and re.sub(r'[^a-zA-Z0-9]+', '', c).lower() != 'los' )])

In [460]:
repeated

["Alzheimer's Disease",
 "Alzheimer's disease",
 'B-Cell Malignancies',
 'B-cell malignancies',
 'Clostridium difficile infection',
 'Duchenne Muscular Dystrophy',
 'Duchenne muscular dystrophy',
 "Friedreich's Ataxia",
 "Friedreich's ataxia",
 'Graft-versus-Host Disease',
 'Hepatitis B Infection',
 'Hepatitis C virus infection',
 "Huntington's Disease",
 "Huntington's disease",
 'Japanese encephalitis',
 "Parkinson's Disease",
 "Parkinson's disease",
 "Waldenstrom's Macroglobulinemia",
 "Waldenstrom's macroglobulinemia",
 'West Nile virus',
 'age related macular degeneration',
 'age-related macular degeneration',
 "alzheimer's disease",
 'beta thalassemia',
 'beta-thalassemia',
 'clostridium difficile infection',
 'community acquired bacterial pneumonia',
 'community acquired pneumonia',
 'community-acquired bacterial pneumonia',
 'community-acquired pneumonia',
 'complicated intra abdominal infections',
 'complicated intra-abdominal infections',
 'cutaneous T cell lymphoma',
 'cutaneous T-Cell lymphoma',
 'cutaneous T-cell lymphoma',
 'diffuse large B cell lymphoma',
 'diffuse large B-cell lymphoma',
 'diffuse large-B cell lymphoma',
 'fragile X syndrome',
 'fragile-X syndrome',
 'graft versus host disease',
 'graft-versus-host disease',
 'hepatitis B infection',
 'hepatitis C virus infection',
 'japanese encephalitis',
 'muscle wasting',
 'muscle-wasting',
 "non Hodgkin's lymphoma",
 'non hodgkin lymphoma',
 'non-Hodgkin Lymphoma',
 'non-Hodgkin lymphoma',
 "non-Hodgkin's B cell lymphoma",
 "non-Hodgkin's B-cell lymphoma",
 "non-Hodgkin's lymphoma",
 'non-alcoholic steatohepatitis',
 'nonalcoholic steatohepatitis',
 'peripheral T -cell lymphoma',
 'peripheral T-cell lymphoma',
 'post traumatic stress disorder',
 'post-operative ileus',
 'post-traumatic stress disorder',
 'postoperative ileus',
 'small pox',
 'smallpox',
 'west nile virus']

In [450]:
sorted(uniques)

['MKT 1',
 'MKT 10',
 'MKT 100',
 'MKT 1000',
 'MKT 1001',
 'MKT 1002',
 'MKT 1003',
 'MKT 1004',
 'MKT 1005',
 'MKT 1006',
 'MKT 1007',
 'MKT 1008',
 'MKT 1009',
 'MKT 101',
 'MKT 1010',
 'MKT 1011',
 'MKT 1012',
 'MKT 1013',
 'MKT 1014',
 'MKT 1015',
 'MKT 1016',
 'MKT 1017',
 'MKT 1018',
 'MKT 1019',
 'MKT 102',
 'MKT 1020',
 'MKT 1021',
 'MKT 1022',
 'MKT 1023',
 'MKT 1024',
 'MKT 1025',
 'MKT 1026',
 'MKT 1027',
 'MKT 1028',
 'MKT 1029',
 'MKT 103',
 'MKT 1030',
 'MKT 1031',
 'MKT 1032',
 'MKT 1033',
 'MKT 1034',
 'MKT 1035',
 'MKT 1036',
 'MKT 1037',
 'MKT 1038',
 'MKT 1039',
 'MKT 104',
 'MKT 1040',
 'MKT 1041',
 'MKT 1042',
 'MKT 1043',
 'MKT 1044',
 'MKT 1045',
 'MKT 1046',
 'MKT 1047',
 'MKT 1048',
 'MKT 1049',
 'MKT 105',
 'MKT 1050',
 'MKT 1051',
 'MKT 1052',
 'MKT 1053',
 'MKT 1054',
 'MKT 1055',
 'MKT 1056',
 'MKT 1057',
 'MKT 1058',
 'MKT 1059',
 'MKT 106',
 'MKT 1060',
 'MKT 1061',
 'MKT 1062',
 'MKT 1063',
 'MKT 1064',
 'MKT 1065',
 'MKT 1066',
 'MKT 1067',
 'MKT 1068',
 'MKT 1069',
 'MKT 107',
 'MKT 1070',
 'MKT 1071',
 'MKT 1072',
 'MKT 1073',
 'MKT 1074',
 'MKT 1075',
 'MKT 1076',
 'MKT 1077',
 'MKT 1078',
 'MKT 1079',
 'MKT 108',
 'MKT 1080',
 'MKT 1081',
 'MKT 1082',
 'MKT 1083',
 'MKT 1084',
 'MKT 1085',
 'MKT 1086',
 'MKT 1087',
 'MKT 1088',
 'MKT 1089',
 'MKT 109',
 'MKT 1090',
 'MKT 1091',
 'MKT 1092',
 'MKT 1093',
 'MKT 1094',
 'MKT 1095',
 'MKT 1096',
 'MKT 1097',
 'MKT 1098',
 'MKT 1099',
 'MKT 11',
 'MKT 110',
 'MKT 1100',
 'MKT 1101',
 'MKT 1102',
 'MKT 1103',
 'MKT 1104',
 'MKT 1105',
 'MKT 1106',
 'MKT 1107',
 'MKT 1108',
 'MKT 1109',
 'MKT 111',
 'MKT 1110',
 'MKT 1111',
 'MKT 1112',
 'MKT 1113',
 'MKT 1114',
 'MKT 1115',
 'MKT 1116',
 'MKT 1117',
 'MKT 1118',
 'MKT 1119',
 'MKT 112',
 'MKT 1120',
 'MKT 1121',
 'MKT 1122',
 'MKT 1123',
 'MKT 1124',
 'MKT 1125',
 'MKT 1126',
 'MKT 1127',
 'MKT 1128',
 'MKT 1129',
 'MKT 113',
 'MKT 1130',
 'MKT 1131',
 'MKT 1132',
 'MKT 1133',
 'MKT 1134',
 'MKT 1135',
 'MKT 1136',
 'MKT 1137',
 'MKT 1138',
 'MKT 1139',
 'MKT 114',
 'MKT 1140',
 'MKT 1141',
 'MKT 1142',
 'MKT 1143',
 'MKT 1144',
 'MKT 1145',
 'MKT 1146',
 'MKT 1147',
 'MKT 1148',
 'MKT 1149',
 'MKT 115',
 'MKT 1150',
 'MKT 1151',
 'MKT 1152',
 'MKT 1153',
 'MKT 1154',
 'MKT 1155',
 'MKT 1156',
 'MKT 1157',
 'MKT 1158',
 'MKT 1159',
 'MKT 116',
 'MKT 1160',
 'MKT 1161',
 'MKT 1162',
 'MKT 1163',
 'MKT 1164',
 'MKT 1165',
 'MKT 1166',
 'MKT 1167',
 'MKT 1168',
 'MKT 1169',
 'MKT 117',
 'MKT 1170',
 'MKT 1171',
 'MKT 1172',
 'MKT 1173',
 'MKT 1174',
 'MKT 1175',
 'MKT 1176',
 'MKT 1177',
 'MKT 1178',
 'MKT 1179',
 'MKT 118',
 'MKT 1180',
 'MKT 1181',
 'MKT 1182',
 'MKT 1183',
 'MKT 1184',
 'MKT 1185',
 'MKT 1186',
 'MKT 1187',
 'MKT 1188',
 'MKT 1189',
 'MKT 119',
 'MKT 1190',
 'MKT 1191',
 'MKT 1192',
 'MKT 1193',
 'MKT 1194',
 'MKT 1195',
 'MKT 1196',
 'MKT 1197',
 'MKT 1198',
 'MKT 1199',
 'MKT 12',
 'MKT 120',
 'MKT 1200',
 'MKT 1201',
 'MKT 1202',
 'MKT 1203',
 'MKT 1204',
 'MKT 1205',
 'MKT 1206',
 'MKT 1207',
 'MKT 1208',
 'MKT 1209',
 'MKT 121',
 'MKT 1210',
 'MKT 1211',
 'MKT 1212',
 'MKT 1213',
 'MKT 1214',
 'MKT 1215',
 'MKT 1216',
 'MKT 1217',
 'MKT 1218',
 'MKT 1219',
 'MKT 122',
 'MKT 1220',
 'MKT 1221',
 'MKT 1222',
 'MKT 1223',
 'MKT 1224',
 'MKT 1225',
 'MKT 1226',
 'MKT 1227',
 'MKT 1228',
 'MKT 1229',
 'MKT 123',
 'MKT 1230',
 'MKT 1231',
 'MKT 1232',
 'MKT 1233',
 'MKT 1234',
 'MKT 1235',
 'MKT 1236',
 'MKT 1237',
 'MKT 1238',
 'MKT 1239',
 'MKT 124',
 'MKT 1240',
 'MKT 1241',
 'MKT 1242',
 'MKT 1243',
 'MKT 1244',
 'MKT 1245',
 'MKT 1246',
 'MKT 1247',
 'MKT 1248',
 'MKT 1249',
 'MKT 125',
 'MKT 1250',
 'MKT 1251',
 'MKT 1252',
 'MKT 1253',
 'MKT 1254',
 'MKT 1255',
 'MKT 1256',
 'MKT 1257',
 'MKT 1258',
 'MKT 1259',
 'MKT 126',
 'MKT 1260',
 'MKT 1261',
 'MKT 1262',
 'MKT 1263',
 'MKT 1264',
 'MKT 1265',
 'MKT 1266',
 'MKT 1267',
 'MKT 1268',
 'MKT 1269',
 'MKT 127',
 'MKT 1270',
 'MKT 1271',
 'MKT 1272',
 'MKT 1273',
 'MKT 1274',
 'MKT 1275',
 'MKT 1276',
 'MKT 1277',
 'MKT 1278',
 'MKT 1279',
 'MKT 128',
 'MKT 1280',
 'MKT 1281',
 'MKT 1282',
 'MKT 1283',
 'MKT 1284',
 'MKT 1285',
 'MKT 1286',
 'MKT 1287',
 'MKT 1288',
 'MKT 1289',
 'MKT 129',
 'MKT 1290',
 'MKT 1291',
 'MKT 1292',
 'MKT 1293',
 'MKT 1294',
 'MKT 1295',
 'MKT 1296',
 'MKT 1297',
 'MKT 1298',
 'MKT 1299',
 'MKT 13',
 'MKT 130',
 'MKT 1300',
 'MKT 1301',
 'MKT 1302',
 'MKT 1303',
 'MKT 1304',
 'MKT 1305',
 'MKT 1306',
 'MKT 1307',
 'MKT 1308',
 'MKT 1309',
 'MKT 131',
 'MKT 1310',
 'MKT 1311',
 'MKT 1312',
 'MKT 1313',
 'MKT 1314',
 'MKT 1315',
 'MKT 1316',
 'MKT 1317',
 'MKT 1318',
 'MKT 1319',
 'MKT 132',
 'MKT 1320',
 'MKT 1321',
 'MKT 1322',
 'MKT 1323',
 'MKT 1324',
 'MKT 1325',
 'MKT 1326',
 'MKT 1327',
 'MKT 1328',
 'MKT 1329',
 'MKT 133',
 'MKT 1330',
 'MKT 1331',
 'MKT 1332',
 'MKT 1333',
 'MKT 1334',
 'MKT 1335',
 'MKT 1336',
 'MKT 1337',
 'MKT 1338',
 'MKT 1339',
 'MKT 134',
 'MKT 1340',
 'MKT 1341',
 'MKT 1342',
 'MKT 1343',
 'MKT 1344',
 'MKT 1345',
 'MKT 1346',
 'MKT 1347',
 'MKT 1348',
 'MKT 1349',
 'MKT 135',
 'MKT 1350',
 'MKT 1351',
 'MKT 1352',
 'MKT 1353',
 'MKT 1354',
 'MKT 1355',
 'MKT 1356',
 'MKT 1357',
 'MKT 1358',
 'MKT 1359',
 'MKT 136',
 'MKT 1360',
 'MKT 1361',
 'MKT 1362',
 'MKT 1363',
 'MKT 1364',
 'MKT 1365',
 'MKT 1366',
 'MKT 1367',
 'MKT 1368',
 'MKT 1369',
 'MKT 137',
 'MKT 1370',
 'MKT 1371',
 'MKT 1372',
 'MKT 1373',
 'MKT 1374',
 'MKT 1375',
 'MKT 1376',
 'MKT 1377',
 'MKT 1378',
 'MKT 1379',
 'MKT 138',
 'MKT 1380',
 'MKT 1381',
 'MKT 1382',
 'MKT 1383',
 'MKT 1384',
 'MKT 1385',
 'MKT 1386',
 'MKT 1387',
 'MKT 1388',
 'MKT 1389',
 'MKT 139',
 'MKT 1390',
 'MKT 1391',
 'MKT 1392',
 'MKT 1393',
 'MKT 1394',
 'MKT 1395',
 'MKT 1396',
 'MKT 1397',
 'MKT 1398',
 'MKT 1399',
 'MKT 14',
 'MKT 140',
 'MKT 1400',
 'MKT 1401',
 'MKT 1402',
 'MKT 1403',
 'MKT 1404',
 'MKT 1405',
 'MKT 1406',
 'MKT 1407',
 'MKT 1408',
 'MKT 1409',
 'MKT 141',
 'MKT 1410',
 'MKT 1411',
 'MKT 1412',
 'MKT 1413',
 'MKT 1414',
 'MKT 1415',
 'MKT 1416',
 'MKT 1417',
 'MKT 1418',
 'MKT 1419',
 'MKT 142',
 'MKT 1420',
 'MKT 1421',
 'MKT 1422',
 'MKT 1423',
 'MKT 1424',
 'MKT 1425',
 'MKT 1426',
 'MKT 1427',
 'MKT 1428',
 'MKT 1429',
 'MKT 143',
 'MKT 1430',
 'MKT 1431',
 'MKT 1432',
 'MKT 1433',
 'MKT 1434',
 'MKT 1435',
 'MKT 1436',
 'MKT 1437',
 'MKT 1438',
 'MKT 1439',
 'MKT 144',
 'MKT 1440',
 'MKT 1441',
 'MKT 1442',
 'MKT 1443',
 'MKT 1444',
 'MKT 1445',
 'MKT 1446',
 'MKT 1447',
 'MKT 1448',
 'MKT 1449',
 'MKT 145',
 'MKT 1450',
 'MKT 1451',
 'MKT 1452',
 'MKT 1453',
 'MKT 1454',
 'MKT 1455',
 'MKT 1456',
 'MKT 1457',
 'MKT 1458',
 'MKT 1459',
 'MKT 146',
 'MKT 1460',
 'MKT 1461',
 'MKT 1462',
 'MKT 1463',
 'MKT 1464',
 'MKT 1465',
 'MKT 1466',
 'MKT 1467',
 'MKT 1468',
 'MKT 1469',
 'MKT 147',
 'MKT 1470',
 'MKT 1471',
 'MKT 1472',
 'MKT 1473',
 'MKT 1474',
 'MKT 1475',
 'MKT 1476',
 'MKT 1477',
 'MKT 1478',
 'MKT 1479',
 'MKT 148',
 'MKT 1480',
 'MKT 1481',
 'MKT 1482',
 'MKT 1483',
 'MKT 1484',
 'MKT 1485',
 'MKT 1486',
 'MKT 1487',
 'MKT 1488',
 'MKT 1489',
 'MKT 149',
 'MKT 1490',
 'MKT 1491',
 'MKT 1492',
 'MKT 1493',
 'MKT 1494',
 'MKT 1495',
 'MKT 1496',
 'MKT 1497',
 'MKT 1498',
 'MKT 1499',
 'MKT 15',
 'MKT 150',
 'MKT 1500',
 'MKT 1501',
 'MKT 1502',
 'MKT 1503',
 'MKT 1504',
 'MKT 1505',
 'MKT 1506',
 'MKT 1507',
 'MKT 1508',
 'MKT 1509',
 'MKT 151',
 'MKT 1510',
 'MKT 1511',
 'MKT 1512',
 'MKT 1513',
 'MKT 1514',
 'MKT 1515',
 'MKT 1516',
 'MKT 1517',
 'MKT 1518',
 'MKT 1519',
 'MKT 152',
 'MKT 1520',
 'MKT 1521',
 'MKT 1522',
 'MKT 1523',
 'MKT 1524',
 'MKT 1525',
 'MKT 1526',
 'MKT 1527',
 'MKT 1528',
 'MKT 1529',
 'MKT 153',
 'MKT 1530',
 'MKT 1531',
 'MKT 1532',
 'MKT 1533',
 'MKT 1534',
 'MKT 1535',
 'MKT 1536',
 'MKT 1537',
 'MKT 1538',
 'MKT 1539',
 'MKT 154',
 'MKT 1540',
 'MKT 1541',
 'MKT 1542',
 'MKT 1543',
 'MKT 1544',
 'MKT 1545',
 'MKT 1546',
 'MKT 1547',
 'MKT 1548',
 'MKT 1549',
 'MKT 155',
 'MKT 1550',
 'MKT 1551',
 'MKT 1552',
 'MKT 1553',
 'MKT 1554',
 'MKT 1555',
 'MKT 1556',
 'MKT 1557',
 'MKT 1558',
 'MKT 1559',
 'MKT 156',
 'MKT 1560',
 'MKT 1561',
 'MKT 1562',
 'MKT 1563',
 'MKT 1564',
 'MKT 1565',
 'MKT 1566',
 'MKT 1567',
 'MKT 1568',
 'MKT 1569',
 'MKT 157',
 'MKT 1570',
 'MKT 1571',
 'MKT 1572',
 'MKT 1573',
 'MKT 1574',
 'MKT 1575',
 'MKT 1576',
 'MKT 1577',
 'MKT 1578',
 'MKT 1579',
 'MKT 158',
 'MKT 1580',
 'MKT 1581',
 'MKT 1582',
 'MKT 1583',
 'MKT 1584',
 'MKT 1585',
 'MKT 1586',
 'MKT 1587',
 'MKT 1588',
 'MKT 1589',
 'MKT 159',
 'MKT 1590',
 'MKT 1591',
 'MKT 1592',
 'MKT 1593',
 'MKT 1594',
 'MKT 1595',
 'MKT 1596',
 'MKT 1597',
 'MKT 1598',
 'MKT 1599',
 'MKT 16',
 'MKT 160',
 'MKT 1600',
 'MKT 1601',
 'MKT 1602',
 'MKT 1603',
 'MKT 1604',
 'MKT 1605',
 'MKT 1606',
 'MKT 1607',
 'MKT 1608',
 'MKT 1609',
 'MKT 161',
 'MKT 1610',
 'MKT 1611',
 'MKT 1612',
 'MKT 1613',
 'MKT 1614',
 'MKT 1615',
 'MKT 1616',
 'MKT 1617',
 'MKT 1618',
 'MKT 1619',
 'MKT 162',
 'MKT 1620',
 'MKT 1621',
 'MKT 1622',
 'MKT 1623',
 'MKT 1624',
 'MKT 1625',
 'MKT 1626',
 'MKT 1627',
 'MKT 1628',
 'MKT 1629',
 'MKT 163',
 'MKT 1630',
 'MKT 1631',
 'MKT 1632',
 'MKT 1633',
 'MKT 1634',
 'MKT 1635',
 'MKT 1636',
 'MKT 1637',
 'MKT 1638',
 'MKT 1639',
 'MKT 164',
 'MKT 1640',
 'MKT 1641',
 'MKT 1642',
 'MKT 1643',
 'MKT 1644',
 'MKT 1645',
 'MKT 1646',
 'MKT 1647',
 'MKT 1648',
 'MKT 1649',
 'MKT 165',
 'MKT 1650',
 'MKT 1651',
 'MKT 1652',
 'MKT 1653',
 'MKT 1654',
 'MKT 1655',
 'MKT 1656',
 'MKT 1657',
 'MKT 1658',
 'MKT 1659',
 'MKT 166',
 'MKT 1660',
 'MKT 1661',
 'MKT 1662',
 'MKT 1663',
 'MKT 1664',
 'MKT 1665',
 'MKT 1666',
 'MKT 1667',
 'MKT 1668',
 'MKT 1669',
 'MKT 167',
 'MKT 1670',
 'MKT 1671',
 'MKT 1672',
 'MKT 1673',
 'MKT 1674',
 'MKT 1675',
 'MKT 1676',
 'MKT 1677',
 'MKT 1678',
 'MKT 1679',
 'MKT 168',
 'MKT 1680',
 'MKT 1681',
 'MKT 1682',
 'MKT 1683',
 'MKT 1684',
 'MKT 1685',
 'MKT 1686',
 'MKT 1687',
 'MKT 1688',
 'MKT 1689',
 'MKT 169',
 'MKT 1690',
 'MKT 1691',
 'MKT 1692',
 'MKT 1693',
 'MKT 1694',
 'MKT 1695',
 'MKT 1696',
 'MKT 1697',
 'MKT 1698',
 'MKT 1699',
 'MKT 17',
 'MKT 170',
 'MKT 1700',
 'MKT 1701',
 'MKT 1702',
 'MKT 1703',
 'MKT 1704',
 'MKT 1705',
 'MKT 1706',
 'MKT 1707',
 'MKT 1708',
 'MKT 1709',
 'MKT 171',
 'MKT 1710',
 'MKT 1711',
 'MKT 1712',
 'MKT 1713',
 'MKT 1714',
 'MKT 1715',
 'MKT 1716',
 'MKT 1717',
 'MKT 1718',
 'MKT 1719',
 'MKT 172',
 'MKT 1720',
 'MKT 1721',
 'MKT 1722',
 'MKT 1723',
 'MKT 1724',
 'MKT 1725',
 'MKT 1726',
 'MKT 1727',
 'MKT 1728',
 'MKT 1729',
 'MKT 173',
 'MKT 1730',
 'MKT 1731',
 'MKT 1732',
 'MKT 1733',
 'MKT 1734',
 'MKT 1735',
 'MKT 1736',
 'MKT 1737',
 'MKT 1738',
 'MKT 1739',
 'MKT 174',
 'MKT 1740',
 'MKT 1741',
 'MKT 1742',
 'MKT 1743',
 'MKT 1744',
 'MKT 1745',
 'MKT 1746',
 'MKT 1747',
 'MKT 1748',
 'MKT 1749',
 'MKT 175',
 'MKT 1750',
 'MKT 1751',
 'MKT 1752',
 'MKT 1753',
 'MKT 1754',
 'MKT 1755',
 'MKT 1756',
 'MKT 1757',
 'MKT 1758',
 'MKT 1759',
 'MKT 176',
 'MKT 1760',
 'MKT 1761',
 'MKT 1762',
 'MKT 1763',
 'MKT 1764',
 'MKT 1765',
 'MKT 1766',
 'MKT 1767',
 'MKT 1768',
 'MKT 1769',
 'MKT 177',
 'MKT 1770',
 'MKT 1771',
 'MKT 1772',
 'MKT 1773',
 'MKT 1774',
 'MKT 1775',
 'MKT 1776',
 'MKT 1777',
 'MKT 1778',
 'MKT 1779',
 'MKT 178',
 'MKT 1780',
 'MKT 1781',
 'MKT 1782',
 'MKT 1783',
 'MKT 1784',
 'MKT 1785',
 'MKT 1786',
 'MKT 1787',
 'MKT 1788',
 'MKT 1789',
 'MKT 179',
 'MKT 1790',
 'MKT 1791',
 'MKT 1792',
 'MKT 1793',
 'MKT 1794',
 'MKT 1795',
 'MKT 1796',
 'MKT 1797',
 'MKT 1798',
 'MKT 1799',
 'MKT 18',
 'MKT 180',
 'MKT 1800',
 'MKT 1801',
 'MKT 1802',
 'MKT 1803',
 'MKT 1804',
 'MKT 1805',
 'MKT 1806',
 'MKT 1807',
 'MKT 1808',
 'MKT 1809',
 'MKT 181',
 'MKT 1810',
 'MKT 182',
 'MKT 183',
 'MKT 184',
 'MKT 185',
 'MKT 186',
 'MKT 187',
 'MKT 188',
 'MKT 189',
 'MKT 19',
 'MKT 190',
 'MKT 191',
 'MKT 192',
 'MKT 193',
 'MKT 194',
 'MKT 195',
 'MKT 196',
 'MKT 197',
 'MKT 198',
 'MKT 199',
 'MKT 2',
 'MKT 20',
 'MKT 200',
 'MKT 201',
 'MKT 202',
 'MKT 203',
 'MKT 204',
 'MKT 205',
 'MKT 206',
 'MKT 207',
 'MKT 208',
 'MKT 209',
 'MKT 21',
 'MKT 210',
 'MKT 211',
 'MKT 212',
 'MKT 213',
 'MKT 214',
 'MKT 215',
 'MKT 216',
 'MKT 217',
 'MKT 218',
 'MKT 219',
 'MKT 22',
 'MKT 220',
 'MKT 221',
 'MKT 222',
 'MKT 223',
 'MKT 224',
 'MKT 225',
 'MKT 226',
 'MKT 227',
 'MKT 228',
 'MKT 229',
 'MKT 23',
 'MKT 230',
 'MKT 231',
 'MKT 232',
 'MKT 233',
 'MKT 234',
 'MKT 235',
 'MKT 236',
 'MKT 237',
 'MKT 238',
 'MKT 239',
 'MKT 24',
 'MKT 240',
 'MKT 241',
 'MKT 242',
 'MKT 243',
 'MKT 244',
 'MKT 245',
 'MKT 246',
 'MKT 247',
 'MKT 248',
 'MKT 249',
 'MKT 25',
 'MKT 250',
 'MKT 251',
 'MKT 252',
 'MKT 253',
 'MKT 254',
 'MKT 255',
 'MKT 256',
 'MKT 257',
 'MKT 258',
 'MKT 259',
 'MKT 26',
 'MKT 260',
 'MKT 261',
 'MKT 262',
 'MKT 263',
 'MKT 264',
 'MKT 265',
 'MKT 266',
 'MKT 267',
 'MKT 268',
 'MKT 269',
 ...]

In [429]:
sorted(cleans)

['market', 'stages', 'termination']

In [437]:
df_All[df_All_only_cols[2]].unique()

array(['stages', 'termination', 'market'], dtype=object)

# Apply dictionary to the files

In [39]:
for col in list(pre.keys()):
    if col in list(df_All.columns):
        index = df_All.columns.get_loc(col)
        print('df_All: ', index, col)
        df_All.iloc[:, index] = df_All.iloc[:, index].apply(
            lambda x: pre[col]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)
#         df_All[col] = df_All[col].apply(
#             lambda x: pre[col]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)
    if col in list(df_Combined.columns):
        index = df_Combined.columns.get_loc(col)
        print('df_Combined: ', index, col)
        df_Combined.iloc[:, index] = df_Combined.iloc[:, index].apply(
            lambda x: pre[col]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)
#         df_Combined[col] = df_Combined[col].apply(
#             lambda x: pre[col]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

df_All:  0 Alliance
df_Combined:  1 Alliance
df_All:  1 P1
df_Combined:  2 P1
df_All:  2 P2
df_Combined:  3 P2
df_All:  3 P Type
df_Combined:  4 P Type
df_All:  5 Type
df_Combined:  6 Type
df_All:  6 stage
df_Combined:  7 stage
df_All:  7 Developer
df_Combined:  8 Developer
df_All:  8 Firm code
df_Combined:  9 Firm code
df_All:  9 Trade Name
df_Combined:  11 Trade Name
df_All:  10 Generic Name
df_Combined:  12 Generic Name
df_All:  11 Product Identifier(s)
df_Combined:  13 Product Identifier(s)
df_All:  14 Active Development Partner(s)
df_Combined:  17 Active Development Partner(s)
df_All:  15 Former Developer(s)
df_Combined:  18 Former Developer(s)
df_All:  16 Therapeutic Area
df_Combined:  19 Therapeutic Area
df_All:  17 Technology
df_Combined:  20 Technology
df_All:  18 Mechanism of Action
df_Combined:  21 Mechanism of Action
df_All:  19 Molecular Target
df_Combined:  22 Molecular Target
df_All:  20 Target Action
df_Combined:  23 Target Action
df_All:  21 Compound Origin
df_Combined:  24 Compound Origin
df_All:  27 Reason for Termination
df_Combined:  26 Reason for Termination
df_Combined:  0 # 2
df_Combined:  10 Disease Indication

In [40]:
for col in ['Date', 'IND Date', 'Project Start Date']:
    if col in list(df_All.columns):
        index = df_All.columns.get_loc(col)
        print('df_All: ', index, col)
        df_All.iloc[:, index] = df_All.iloc[:, index].apply(date_convertor)

    if col in list(df_Combined.columns):
        index = df_Combined.columns.get_loc(col)
        print('df_Combined: ', index, col)
        df_Combined.iloc[:, index] = df_Combined.iloc[:, index].apply(date_convertor)

df_All:  4 Date
couldn't convert 1 Proje
couldn't convert 34425
df_Combined:  5 Date
couldn't convert 1 Proje
df_All:  22 IND Date
df_Combined:  15 IND Date
df_All:  23 Project Start Date
df_Combined:  16 Project Start Date

In [41]:
df_resutl1 = df_All.merge(df_Combined, how='outer', on=common_cols)

In [42]:
df_resutl1.shape

(9057, 30)

In [43]:
df_resutl1[common_cols][~df_resutl1[common_cols].duplicated()].shape

(8624, 25)

In [44]:
df = df_resutl1[~df_resutl1.duplicated()]

In [45]:
df.shape

(9046, 30)

In [46]:
df.to_excel("All drug-alliance data_cleaned_2_and_STG_TMNT_MKT_cleaned -Combined_cleaned_2.xlsx", index=False)

In [15]:
common_cols = [c for c in list(df_alliance.columns) if c in list(df_sorted.columns)]

In [16]:
print(common_cols)

['Developer', 'Trade Name', 'Generic Name', 'Product Identifier(s)', 'Current Status', 'Active Development Partner(s)', 'Former Developer(s)', 'Therapeutic Area', 'Technology', 'Mechanism of Action', 'Compound Origin', 'IND Date', 'Project Start Date', 'Reason For Termination']

In [17]:
df_alliance_only_cols = [c for c in list(df_alliance.columns) if c not in list(df_sorted.columns)]

In [18]:
print(df_alliance_only_cols)

['Alliance', 'P1', 'P2', 'P.Type', 'Date', 'Type', 'stage', 'Firm.code', 'Total.Development', 'Molecular.Target', 'Target.Action', 'error', 'indicator', 'pdfname', 'File.Name']

In [19]:
df_sorted_only_cols = [c for c in list(df_sorted.columns) if c not in list(df_alliance.columns)]

In [20]:
print(df_sorted_only_cols)

['Disease Indication', 'Product Description', 'Stage at In-License', 'Date of In-License', 'Indication Ordinal', 'Stage at Termination', 'Termination Date']

In [21]:
temp_c_c= common_cols

In [22]:
#df.drop(['B', 'C'], axis=1)

In [23]:
df_alliance.shape, df_sorted.shape

((8927, 29), (3677, 21))

In [24]:
df_merged_init = df_alliance.merge(df_sorted, how='outer', on=temp_c_c)

In [25]:
df_merged_init.shape

(12604, 36)

### TEMP HEADER duplicate after merging even by considering only common fields

In [24]:
df_alliance_temp = df_alliance[~df_alliance[temp_c_c].duplicated()][temp_c_c]

In [25]:
df_sorted_temp = df_sorted[~df_sorted[temp_c_c].duplicated()][temp_c_c]

In [26]:
df_alliance_temp.shape, df_sorted_temp.shape

((3688, 14), (3631, 14))

In [27]:
df_resutl_temp = df_alliance_temp.merge(df_sorted_temp, how='outer', on=temp_c_c)

## Create a dictionary for the inconsistencies in each common column. Dictionaries needs to be built based on the initial merge.

In [28]:
for col in ['Developer', 'Trade Name', 'Generic Name', 'Product Identifier(s)', 'Active Development Partner(s)', 
            'Former Developer(s)', 'Therapeutic Area', 'Technology', 'Mechanism of Action', 'Compound Origin', 
            'Reason For Termination']:
    index = df_resutl_temp.columns.get_loc(col)
    print(index, col)
    pre[index] = {}
    pre[index]['values'] = list(df_resutl_temp.sort_values(['Product Identifier(s)'])[temp_c_c[index]])
    pre[index]['uniques'] = [str(c) for c in list(set(pre[index]['values']))]
    pre[index]['cleans'] = [re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre[index]['uniques']]
#     Counter([pre[index]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) for c in pre[index]['uniques']])
    pre[index]['repeated'] = sorted([c for c in pre[index]['uniques'] \
                                 if pre[index]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) > 1])
    pre[index]['dic'] = {k:[] for k in set([re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre[index]['repeated']])}
    
    for item in pre[index]['uniques']: 
        if re.sub(r'[^a-zA-Z0-9]+', '', item).lower() in pre[index]['dic'].keys(): 
            pre[index]['dic'][re.sub(r'[^a-zA-Z0-9]+', '', item).lower()].append(item)
    
    for i in pre[index]['dic'].keys(): 
        pre[index]['dic'][i] = pre[index]['dic'][i][0]
    
    df_resutl_temp[temp_c_c[index]] = df_resutl_temp[temp_c_c[index]].apply(
        lambda x: pre[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

0 Developer
1 Trade Name
2 Generic Name
3 Product Identifier(s)
5 Active Development Partner(s)
6 Former Developer(s)
7 Therapeutic Area
8 Technology
9 Mechanism of Action
10 Compound Origin
13 Reason For Termination

### Don't run this section. 
Fix the inconsistencies in 'Current Status' in these two files.

In [ ]:
# {'phaseiii': ['Phase III', 'Phase I/II']}

In [ ]:
# index = 4

## Fixing needs to be done based on achieved dictionaries from the initial merge.

In [40]:
pre.keys()

dict_keys([0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 13])

In [31]:
for col in ['Developer', 'Trade Name', 'Generic Name', 'Product Identifier(s)', 'Active Development Partner(s)', 
            'Former Developer(s)', 'Therapeutic Area', 'Technology', 'Mechanism of Action', 'Compound Origin', 
            'Reason For Termination']:
    index = df_resutl_temp.columns.get_loc(col)
    print(index, col)
    df_alliance[col] = df_alliance[col].apply(
    lambda x: pre[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)
    
    df_sorted[col] = df_sorted[col].apply(
    lambda x: pre[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

0 Developer
1 Trade Name
2 Generic Name
3 Product Identifier(s)
5 Active Development Partner(s)
6 Former Developer(s)
7 Therapeutic Area
8 Technology
9 Mechanism of Action
10 Compound Origin
13 Reason For Termination

In [41]:
# for index in pre.keys():
#     df_alliance_temp[temp_c_c[index]] = df_alliance_temp[temp_c_c[index]].apply(
#     lambda x: pre[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)
    
#     df_sorted_temp[temp_c_c[index]] = df_sorted_temp[temp_c_c[index]].apply(
#     lambda x: pre[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

In [29]:
date_convertor('12/25/1994'), date_convertor('8/1/99')

('12/25/1994', '08/01/1999')

In [34]:
for col in ['IND Date', 'Project Start Date']:
    index = df_alliance.columns.get_loc(col)
    print(index, col)
    df_alliance.iloc[:, index] = df_alliance.iloc[:, index].apply(date_convertor)
    index = df_sorted.columns.get_loc(col)
    print(index, col)
    df_sorted.iloc[:, index] = df_sorted.iloc[:, index].apply(date_convertor)

22 IND Date
15 IND Date
23 Project Start Date
16 Project Start Date

## Create a dictionary for the inconsistencies in each df_alliance's column.

In [35]:
pre_df_alliance = {}

In [36]:
df_alliance_only = df_alliance[df_alliance_only_cols]

In [37]:
for col in ['Alliance', 'P1', 'P2', 'P.Type', 'Type', 'stage', 'Firm.code', 'Molecular.Target', 'Target.Action', 
            'error', 'indicator', 'File.Name']:
    index = df_alliance_only.columns.get_loc(col)
    print(index, col)
    pre_df_alliance[index] = {}
    pre_df_alliance[index]['values'] = list(df_alliance_only[df_alliance_only_cols[index]])
    pre_df_alliance[index]['uniques'] = [str(c) for c in list(set(pre_df_alliance[index]['values']))]
    pre_df_alliance[index]['cleans'] = [re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre_df_alliance[index]['uniques']]
#     Counter([pre_df_alliance[index]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) for c in pre_df_alliance[index]['uniques']])
    pre_df_alliance[index]['repeated'] = sorted([c for c in pre_df_alliance[index]['uniques'] \
                                 if pre_df_alliance[index]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) > 1])
    pre_df_alliance[index]['dic'] = {k:[] for k in set([re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre_df_alliance[index]['repeated']])}
    
    for item in pre_df_alliance[index]['uniques']: 
        if re.sub(r'[^a-zA-Z0-9]+', '', item).lower() in pre_df_alliance[index]['dic'].keys(): 
            pre_df_alliance[index]['dic'][re.sub(r'[^a-zA-Z0-9]+', '', item).lower()].append(item)
            
    # 'los': ['L,O,S', 'Lo,S']
    if index == 5:
        pre_df_alliance[index]['dic'].pop('los')
    
    for i in pre_df_alliance[index]['dic'].keys(): 
        pre_df_alliance[index]['dic'][i] = pre_df_alliance[index]['dic'][i][0]
    df_alliance_only.iloc[:, index] = df_alliance_only.iloc[:, index].apply(
        lambda x: pre_df_alliance[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

0 Alliance
1 P1
2 P2
3 P.Type
5 Type
6 stage
7 Firm.code
9 Molecular.Target
10 Target.Action
11 error
12 indicator
14 File.Name

### Don't run this section. 
Fix the inconsistencies in 'Total.Development' in df_alliance.

In [ ]:
# {'69': ['-6.9', '6.9'],  '37': ['3.7', '-3.7'],  'nan': ['nan',  'nan',  'nan', ...]}

In [255]:
# index = 8

### Don't run this section.
Fix the inconsistencies in 'pdfname' in df_alliance.

In [38]:
# index = 13

## Fixing for df_alliance specific columns.

In [39]:
for col in ['Alliance', 'P1', 'P2', 'P.Type', 'Type', 'stage', 'Firm.code', 'Molecular.Target', 'Target.Action', 
            'error', 'indicator', 'File.Name']:
    index = df_alliance_only.columns.get_loc(col)
    print(index, col)
    df_alliance[col] = df_alliance[col].apply(
    lambda x: pre_df_alliance[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

0 Alliance
1 P1
2 P2
3 P.Type
5 Type
6 stage
7 Firm.code
9 Molecular.Target
10 Target.Action
11 error
12 indicator
14 File.Name

In [45]:
for col in ['Date',]:
    index = df_alliance.columns.get_loc(col)
    print(index)
    df_alliance.iloc[:, index] = df_alliance.iloc[:, index].apply(date_convertor)

4

## Create a dictionary for the inconsistencies in each df_sorted's column.

In [46]:
pre_df_sorted = {}

In [47]:
df_sorted_only = df_sorted[df_sorted_only_cols]

In [48]:
for col in ['Disease Indication', 'Product Description', 'Stage at In-License', 'Indication Ordinal', 
              'Stage at Termination']:
    index = df_sorted_only.columns.get_loc(col)
    print(index, df_sorted_only_cols[index])
    pre_df_sorted[index] = {}
    pre_df_sorted[index]['values'] = list(df_sorted_only[df_sorted_only_cols[index]])
    pre_df_sorted[index]['uniques'] = [str(c) for c in list(set(pre_df_sorted[index]['values']))]
    pre_df_sorted[index]['cleans'] = [re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre_df_sorted[index]['uniques']]
#     Counter([pre_df_sorted[index]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) for c in pre_df_sorted[index]['uniques']])
    pre_df_sorted[index]['repeated'] = sorted([c for c in pre_df_sorted[index]['uniques'] \
                                 if pre_df_sorted[index]['cleans'].count(re.sub(r'[^a-zA-Z0-9]+', '', c).lower()) > 1])
    pre_df_sorted[index]['dic'] = {k:[] for k in set([re.sub(r'[^a-zA-Z0-9]+', '', c).lower() for c in pre_df_sorted[index]['repeated']])}
    
    for item in pre_df_sorted[index]['uniques']: 
        if re.sub(r'[^a-zA-Z0-9]+', '', item).lower() in pre_df_sorted[index]['dic'].keys(): 
            pre_df_sorted[index]['dic'][re.sub(r'[^a-zA-Z0-9]+', '', item).lower()].append(item)
    
    for i in pre_df_sorted[index]['dic'].keys(): 
        pre_df_sorted[index]['dic'][i] = pre_df_sorted[index]['dic'][i][0]
    df_sorted_only.iloc[:, index] = df_sorted_only.iloc[:, index].apply(
        lambda x: pre_df_sorted[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

0 Disease Indication
1 Product Description
2 Stage at In-License
4 Indication Ordinal
5 Stage at Termination

## Fixing for df_sorted specific columns.

In [49]:
for col in ['Disease Indication', 'Product Description', 'Stage at In-License', 'Indication Ordinal', 
              'Stage at Termination']:
    index = df_sorted_only.columns.get_loc(col)
    print(index, col)
    df_sorted[col] = df_sorted[col].apply(
    lambda x: pre_df_sorted[index]['dic'].get(re.sub(r'[^a-zA-Z0-9]+', '', str(x)).lower()) or x)

0 Disease Indication
1 Product Description
2 Stage at In-License
4 Indication Ordinal
5 Stage at Termination

In [50]:
for col in ['Date of In-License', 'Termination Date']:
    index = df_sorted.columns.get_loc(col)
    print(index, col)
    df_sorted.iloc[:, index] = df_sorted.iloc[:, index].apply(date_convertor)

14 Date of In-License
19 Termination Date

## Merge the cleaned files.

In [52]:
temp_c_c, len(temp_c_c)

(['Developer',
  'Trade Name',
  'Generic Name',
  'Product Identifier(s)',
  'Current Status',
  'Active Development Partner(s)',
  'Former Developer(s)',
  'Therapeutic Area',
  'Technology',
  'Mechanism of Action',
  'Compound Origin',
  'IND Date',
  'Project Start Date',
  'Reason For Termination'],
 14)

In [53]:
df_merged = df_alliance.merge(df_sorted, how='outer', on=temp_c_c)

In [54]:
df_merged.shape

(11451, 36)

In [ ]:
df_resutl_temp.sort_values(['Product.Identifier'])[30:40]#[['Alliance', 'Product.Identifier']]

In [ ]:
df_resutl_temp.sort_values(['Product.Identifier'])[20:30][['Alliance', 'Product.Identifier']]

In [ ]:
len(list(df_All_temp["Alliance"])), len(set(list(df_All_temp["Alliance"])))

In [ ]:
len(list(df_Combined_temp["Alliance"])), len(set(list(df_Combined_temp["Alliance"])))

In [ ]:
df_resutl_temp.shape

In [ ]:
df_resutl_temp[~df_resutl_temp[common_cols].duplicated()].shape

In [ ]:
common_cols.remove("pdfname")

In [ ]:
common_cols.remove("Alliance")

In [ ]:
df_resutl_temp = df_Combined_temp.merge(df_All_temp, how='inner', on=common_cols)

In [ ]:
df_resutl_temp.shape

In [ ]:
df_resutl_temp[~df_resutl_temp.duplicated()].shape

In [ ]:
common_cols.remove('#')

In [ ]:
common_cols

In [ ]:
df_All_temp2 = df_All[~df_All[common_cols].duplicated()][common_cols]

In [ ]:
df_All_temp2.shape

In [ ]:
df_All.shape, df_Combined.shape

In [ ]:
df_both = df_Combined.merge(df_All, how='outer', on=common_cols)

In [ ]:
df_both.shape

In [ ]:
df_both[~df_both.duplicated()].shape

In [ ]:
df_Combined.rename(columns = {'Reason.for.Termination':'Termination.reason'}, inplace = True)

In [ ]:
df_Combined.rename(columns = {'# 1':'#'}, inplace = True)

In [ ]:
df_Combined.drop(['B', 'C'], axis=1)

In [ ]:
common_cols = [c for c in list(df_Combined.columns) if c in list(df_All.columns)]

In [ ]:
len(common_cols)

In [ ]:
df_both = df_Combined.merge(df_All, how='outer', on=common_cols)

In [ ]:
df_both.shape

In [ ]:
df_both[~df_both.duplicated()].shape

In [ ]:
df_Combined[0:1]

In [ ]:
df_All[0:1]

In [ ]:
df_both[:1]

In [ ]:
df_both[-2:-1]

In [ ]:
print([c for c in list(df_All.columns) if c not in list(df_Combined.columns)])
print([c for c in list(df_Combined.columns) if c not in list(df_All.columns)])

In [ ]:
df_All.shape, df_Combined.shape

In [ ]:
df_All.nunique()

In [ ]:
df_All[~df_All[['Developer', 'Product.Identifier']].duplicated()].shape

In [ ]:
df_All['Developer'].duplicated()

In [ ]:
df_All.head(1)

In [ ]:
df_Combined.head(5)

In [ ]:
df_All['#'].values

In [ ]:
df_All.shape

In [ ]:
df_All[df_All['#'].isin(df_Combined['# 1'].values)].shape

In [ ]:
df_Combined.nunique()